<div class="sidebar col-md-3 hide-ios">
  <div class="card">
    <div class="card-body">
      <% if can? :create, Post %>
        <%= link_to "提交新文章", new_post_path, class: 'btn btn-block btn-primary' %>
      <% end %>
      <hr />
      <%= link_to "RSS 订阅", posts_path(format: 'xml'), class: 'btn btn-block btn-default' %>

      <% if can? :publish, Post %>
      <hr />
      <a href="<%= upcoming_posts_path %>" data-turbolinks-action="replace">
        <i class="fa fa-newspaper-o"></i> 待审核列表...
      </a>
      <% end %>
    </div>
  </div>
  <%= raw Setting.topic_index_sidebar_html %>
</div>
