/*
 *= require_self
 */

.sub-navbar .container,
.main-container {
  max-width: 960px;
}

#homeland-press {


  textarea#post_body { height: 400px; }

  .toolbar {
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
  }

  .filter {
    font-size: 15px;
  }

  #post-list {
    .panel-body {
    }

    .post {
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0px;
      }
    }

    .post-title { font-size: 18px; line-height: 22px; margin-bottom: 0px; }
    .post-summary {
      padding: 10px 0;
      font-size: 14px; color: #888;
    }
    .post-info {
      color: #aaa;
      a { color: #aaa; }
    }

    &.post-upcoming {
      .post-title { font-size: 16px; }
    }
  }


  #post-detail {
    .panel-body {
      padding: 30px 50px;
    }

    h1 {
      text-align: center; margin-bottom: 15px;
      font-size: 24px;
    }

    .post-opts,
    .post-info,
    .post-actions {
      text-align: center;
      color: #999;
    }

    .post-info {
      .media-object { display: inline; }
      a { color: #777;}
      a.user-name { color: #0069D6; font-weight: bold; }
      margin-bottom: 20px;
    }

    .post-actions {
      margin-top: 15px;
      .btn {
        padding: 8px 20px 6px 20px;
        border-radius: 6px;
        font-size: 16px;
        margin: 0 5px;
      }

      .likeable {
        &.active {
          color: #EB5424;
          background: #fff !important;
          box-shadow: 0 0 0;
        }
      }
    }
  }
}
